<nav>
  <div class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <button mat-icon-button color="primary">
        <mat-icon>supervised_user_circle</mat-icon>
      </button>
      <a class="navbar-brand" href="#" style="color:chocolate;">Employee Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
        <button mat-icon-button class="favorite-icon" style="color: white;">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with share icon" style="color: white;">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>
    <!-- <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->
  </div>
</nav>
<div class="container mt-4">
  <div class="row">
    <div class="col-2">
      <button class="btn btn-outline-success ml-3" type="submit" (click)="openDialog()">Add New Employee</button>
      <button class="btn btn-outline-success ml-3" type="submit" (click)="openABC()">Open Popup</button>
    </div>
    <div class="col-6 offset-4 mr-2">
      <form class="d-flex" role="search">
        <input class="form-control search-employee" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-success ml-3" type="submit">Search</button> -->
      </form>
    </div>
  </div>

  <!-- Display details of all the entered employees -->
  <div class="row employees mt-5">
    <div class="col text-center">
      <app-employee-data></app-employee-data>
      <span class="text-secondary fs-2 fm-bold fst-italic">There are no Employees Added!!</span>
    </div>
  </div>
</div>